<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ description }}"/>

        <title>Image Searcher - {{ title }} page</title>
        <link rel="stylesheet" type="text/css" href="/mpwarperformance/public/css/dropzone.css" />
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/mpwarperformance/index">Index</a></li>
                <li><a href="/mpwarperformance/submit">Submit</a></li>
                <li><a href="/mpwarperformance/search">Search</a></li>
            </ul>
        </header>
