{% include 'includes/header.html.twig' %}
     {% if images is not empty %}
         {% for image in images %}
             <div>
                 <img src="{{ image.url }}" alt="{{ image.name }}">
                 <form action="index" method="POST">
                     <label for="image-{{ image.id }}-name">Name:</label>
                     <input id="image-{{ image.id }}-name" name="image-{{ image.id }}-name" type="text" value="{{ image.name }}"/>
                     <br>
                     <label for="image-{{ image.id }}-tags">Tags:</label>
                     <input id="image-{{ image.id }}-tags" name="image-{{ image.id }}-tags" type="text" value="{{ image.tags }}"/>
                     <br>
                     <label for="image-{{ image.id }}-description">Description:</label>
                     <textarea id="image-{{ image.id }}-description" name="image-{{ image.id }}-description">{{ image.description }}</textarea>
                     <br>
                     <input type="hidden" name="id" value="{{ image.id }}" />
                     <input type="submit" value="Change Image" />
                 </form>
             </div>
         {% endfor %}
     {% else %}
        <p>There's no images saves in the web server<p>
     {% endif %}
{% include 'includes/footer.html.twig' %}