{% include 'includes/header.html.twig' %}
        <form action="search" method="POST">
            <label for="search-name">Search by Name:</label>
            <input id="search-name" name="search-name" type="text" />
            <input type="hidden" name="query" value="name" />
            <input type="submit" value="Search Names" />
        </form>
        <br>
        <form action="search" method="POST">
            <label for="search-tags">Search by Tags:</label>
            <input id="search-tags" name="search-tags" type="text" />
            <input type="hidden" name="query" value="tags" />
            <input type="submit" value="Search Tags" />
        </form>
        <br>
        <form action="search" method="POST">
            <label for="search-description">Description:</label>
            <textarea id="search-description" name="search-description"></textarea>
            <input type="hidden" name="query" value="description" />
            <input type="submit" value="Search Descriptions" />
        </form>
        <br>
        {% if images is not null %}
            {% if images is empty %}
                <p>No image match the pattern specified</p>
            {% else %}
                {% for image in images %}
                    <div>
                        <img src="{{ image.url }}" alt="{{ image.name }}">
                        <form action="index" method="POST">
                            <label for="image-{{ image.id }}-name">Name:</label>
                            <input id="image-{{ image.id }}-name" name="image-{{ image.id }}-name" type="text" value="{{ image.name }}"/>
                            <br>
                            <label for="image-{{ image.id }}-tags">Tags:</label>
                            <input id="image-{{ image.id }}-tags" name="image-{{ image.id }}-tags" type="text" value="{{ image.tags }}"/>
                            <br>
                            <label for="image-{{ image.id }}-description">Description:</label>
                            <textarea id="image-{{ image.id }}-description" name="image-{{ image.id }}-description">{{ image.description }}</textarea>
                            <br>
                            <input type="hidden" name="id" value="{{ image.id }}" />
                            <input type="submit" value="Change Image" />
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
{% include 'includes/footer.html.twig' %}