{% include 'includes/header.html.twig' %}
<form id="form-dropzone" enctype="multipart/form-data" action="/mpwarperformance/api/upload.php" class="dropzone" method="POST">

</form>
<script type="text/javascript" src="/mpwarperformance/public/js/dropzone.js"></script>
{% include 'includes/footer.html.twig' %}